<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chatbot</title>
    <div class="row title">
        <h1>Amy</h1>
    </div>
    <div class="row">
       <p> Amy es una inteligencia artificial cuyo trabajo es ayudarte a encontrar el libro que estas buscando. Amy no sabe lo que estas buscando, pero si le decis, va a encontrarlo.</p><br>
       <p>Salude a Amy para iniciar la conversacion. Le dara mucho gusto poder ayudarlo</p>
    </div>
    <div class="row"> 
        <!-- En este iframe se embebe el codigo Java -->
        <!-- <iframe src=""></iframe> -->
    </div>
</head>
<body>
    
</body>
</html>